.api247-logo{
    width: 40px;
}
.api247-logo img{
    width: 100%;
}
.wrap-menu {
    background: #F5F7F9;
    width: 350px;
    height: 100vh;
    padding: 0 16px;
}
.wrap-247-logo {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #E6ECF1;
}
.api247-txt {
    font-size: 24px;
    font-family: 'Roboto-medium';
    margin-left: 10px;
}